.editor_pageletcreator {
    background-color: #242F37;
    background-image: -moz-linear-gradient(0% 0 90deg, #4D585E, #242F37);
    border: 1px solid #333333;
    height: 130px;
    position: fixed;
	top: 45px;
	bottom: 0;
	left: 0;
    width: 100%;
    z-index: 1;
}

.editor_pageletcreator div#wbl-moduleTabs {
	height: 100%;
}

.editor_pageletcreator .wbl-tabHover {
	background: green !important;
}

.editor_pageletcreator a.wbl-tabClose {
	background-image: url("../css/images/ui-icons_222222_256x240.png");
	background-position: -96px -128px;
	background-repeat: no-repeat;
	height: 16px;
    width: 16px;
	position: absolute;
	right: 15px;
	top: 12px;
	z-index: 1000;
}

.wbl-draggable {
	width: 100px; 
	height: 20px; 
	padding: 0.5em; 
	float: left;
	margin: 10px 10px 10px 0;
}

.wbl-draggableHelper {
	width: 100px; 
	height: 30px; 
	padding: 0.5em; 
	float: none;
	margin: 10px 10px 10px 0; 
}