#wbl-pageleteditor input.error {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.1)
 }

#wbl-pageleteditor label.error {
    color: red;
    float: none;
    text-align: left;
    width: auto;
    display: none !important
}

#wbl-pageleteditor input.error,
#wbl-pageleteditor textarea.error {
	border: 1px solid red;
}