.menubar {
    background-image: -moz-linear-gradient(0% 0 90deg, #4D585E, #242F37);
    border: 1px solid #333333;
    color: #FFFFFF;
    height: 44px;
    line-height: 44px;
    position: fixed;
	top: 0px;
    text-align: left;
    width: 100%;
    z-index: 99;
}

.menubar a.tab {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    color: #FFFFFF;
    margin: 0 1px;
    padding: 16px 15px;
    text-decoration: none;
}

.menubar a.tab.active, header.weblounge a.tab:hover {
    background-color: #2C2C2D;
    background-image: -moz-linear-gradient(left center , #323232 0%, #454444 50%, #323232 100%);
    border-left: 1px solid #464647;
    border-right: 1px solid #464647;
}

.menubar input[type="search"] {
    border-left: 0 none;
    border-radius: 6px 6px 6px 6px;
    border-top: 0 none;
    color: #999999;
    margin-right: 50px;
    padding: 5px;
}

.menubar .right {
    float: right;
    margin-right: 10px;
}