.editor_menubar {
	background-color: #242F37;
	background-image: -moz-linear-gradient(0% 0 90deg, #4D585E, #242F37); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4D585E), to(#242F37), color-stop(0.5, #242F37), color-stop(0.5, #242F37));
	border: 1px solid #333333;
	color: #FFFFFF;
	height: 44px;
	line-height: 44px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
	z-index: 400;
}

.editor_menubar a.wbl-tab {
   border-left: 1px solid transparent;
   border-right: 1px solid transparent;
   color: #FFFFFF;
   margin: 0 1px;
   padding: 15px 15px;
   font-size: 12px;
   text-decoration: none;
}

.editor_menubar span.wbl-editmode {
	display: inline-block;
	position: relative;
}

.editor_menubar button.wbl-editorSelectionCancel, .editor_menubar button.wbl-editorSelectionOK {
	display: none;
	float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.editor_menubar a.wbl-tab.wbl-active,
.editor_menubar a.wbl-tab:hover {
    background-color: #2C2C2D;
    background-image: -moz-linear-gradient(left center , #323232 0%, #454444 50%, #323232 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#454444), color-stop(0.5, #454444), color-stop(0.5, #454444));
    border-left: 1px solid #464647;
    border-right: 1px solid #464647;
}

.editor_menubar input[type="search"], nav.wbl-icons input[type="text"] {
    border-left: 0 none;
    background: #000 url('images/lupe.png') no-repeat 3px right;
    border-radius: 6px 6px 6px 6px;
    border-top: 0 none;
    color: #999999;
    margin-right: 50px;
    padding: 5px;
}

.editor_menubar .wbl-right {
    float: right;
    margin-right: 10px;
}

.editor_menubar .wbl-triangleDown {
	position: relative;
	top: 10px;
	margin: 0 5px;
	border-color: #fff transparent transparent transparent;
	border-style: solid;
	border-width: 5px;
	height: 2px;
	width: 10px;
}

.editor_menubar .wbl-triangleUp {
	border-color: transparent transparent #fff transparent;
	border-style: solid;
	border-width: 5px;
	height: 0px;
	width: 0px;
	position: relative;
	top: -42px;
	margin: 0 5px;
	left: 90px;
}

.editor_menubar img,
.editor_menubar .wbl-language,
div.wbl-overlayIcons span.wbl-more {
	cursor: pointer;
}

.editor_menubar img.wbl-user {
	position: relative;
	top: 8px;
	padding-right: 5px;
	cursor: default;
}

.editor_menubar img.wbl-add {
	position: relative;
	top: 8px;
	padding: 0 30px;
}

.editor_menubar img.wbl-pageSettings {
	position: relative;
	top: 8px;
	padding: 0 30px;
}

.editor_menubar img.wbl-logout {
    position: absolute;
    right: 5px;
    top: 5px;
}

.editor_menubar img.wbl-more {
	position: relative;
	top: 8px;
	padding: 0 30px;
}

/* menu */
.editor_menubar .wbl-menu {
	display: none;
	background-color: #242F37;
	background-image: -moz-linear-gradient(0% 0 90deg, #4D585E, #242F37);
    border: 1px solid #FFFFFF;
    -moz-border-radius: 5px;
    line-height: 20px;
    padding: 20px 0;
    width: 200px;
    z-index: 400;
}

.editor_menubar .wbl-menu ul {
	list-style: none;
	margin-top: -2em;
	color: #fff;
}
.editor_menubar .wbl-menu ul li:hover {
	color: red;
	cursor: pointer;
}
.editor_menubar .wbl-menu ul li.inactive,
.editor_menubar .wbl-menu ul li.inactive:hover {
	color: #999;
	cursor: default;
}

.editor_menubar #wbl-addMenu {
	position: absolute;
	top: 55px;
    left: 220px;
}

.editor_menubar #wbl-moreMenu {
	position: absolute;
	top: 55px;
    left: 310px;
}

.editor_menubar .wbl-profileMenu {
	margin-right: 40px;
}

.editor_menubar #wbl-profileMenu {
	position: absolute;
	top: 55px;
	right: 10px;
}

.editor_menubar .wbl-language {
	position: absolute;
	top: 0px;
	right: 500px;
}

.editor_menubar .wbl-languageMenu {
	position: absolute;
	right: 400px;
	display: none;
}

.editor_menubar #wbl-profileMenu span.wbl-triangleUp {
	left: 180px;
}

.editor_menubar div#wbl-searchResult {
	display: none;
	width: 500px;
	height: 400px;
	border: 1px solid #666;
	background-color: #242F37;
	background-image: -moz-linear-gradient(0% 0 90deg, #4D585E, #242F37);
	position: absolute;
	right: 150px;
	color: #fff;
	z-index: 400;
}

.editor_menubar div#wbl-searchResult span {
	display: block;
	float: right;
	width: 300px;
	padding-left: 25px;
}

.editor_menubar div#wbl-searchResult p {
	line-height: 20px;
	padding: 5px 10px;
}

.editor_menubar div#wbl-searchResult p:hover {
	background-color: #000;	
}

.editor_menubar div#wbl-searchResult p.wbl-section {
	border-top: 1px solid #999;
}

.editor_menubar div#wbl-searchResult p.wbl-section:first-child {
	border: 0 !important;
}

.editor_menubar div#wbl-searchResult span.wbl-pdf {
	background: url('images/search_result_pdf.png') no-repeat;
}

.editor_menubar div#wbl-searchResult span.wbl-website {
	background: url('images/search_result_page.png') no-repeat;
}

.editor_menubar div#wbl-searchResult p.wbl-footer {
	border-top: 1px solid #999;
	color: #999;
	clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 5px 0;
	cursor: pointer;
}

.editor_menubar .wbl-alignLeft {
	float: left;
}

.editor_menubar .wbl-alignCenter {
	margin: 0 auto;
	text-align: center;
}

.editor_menubar .wbl-alignRight {
	float: right;
}

.editor_menubar button:hover {
	color: #000
}