<div class="loginTitle">Welcome to Weblounge 3.0</div>
<form name='f' action='/j_spring_security_check' method="post">
	<table classborder="0" cellpadding="05" cellspacing="0" class="loginTable">
	    <tr>
	      <th colspan="2">Login with Username and Password</th>
	    </tr>
	    <tr>
	      <td class="left">&nbsp;</td>
	      <td>&nbsp;</td>
	    </tr>
	    <tr>
	      <td>Username</td>
	      <td><input name="username" type="text"></td>
	    </tr>
	    <tr>
	      <td>Password</td>
	      <td><input name="password" type="password"></td>
	    </tr>
	    <tr>
	      <td><input name="_spring_security_remember_me" type="checkbox"></td>
	      <td>Remember me on this computer.</td>
	    </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
	    </tr>
	    <tr>
	   	  <td class="error" colspan="2">Your login attempt was not successful, try again.</td>
	    </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td><input type="submit" name="submit" id="submit" value="Login"></td>
	    </tr>
	</table>
</form>
<br />
<form name='oidf' action='/j_spring_openid_security_check' method="post">
	<table border="0" cellpadding="05" cellspacing="0" class="loginTable">
	    <tr>
	      <th colspan="2">Login with OpenID Identity</th>
	    </tr>
	    <tr>
	      <td class="left">&nbsp;</td>
	      <td>&nbsp;</td>
	    </tr>
	    <tr>
	      <td>Identity</td>
	      <td><input name="openid_identifier" type="text" id="openid_identifier"></td>
	    </tr>
	    <tr>
	      <td><input name="_spring_security_remember_me" type="checkbox" id="checkbox"></td>
	      <td>Remember me on this computer.</td>
	    </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
	    </tr>
	    <tr>
	   	  <td class="error" colspan="2">Your login attempt was not successful, try again.</td>
	    </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td><input type="submit" name="submit" id="submit" value="Login"></td>
	    </tr>
	</table>
</form>