{{if file.name.localPart == 'movie'}}
	<h2>Movie Metadaten:</h2>
	Filename: {{if !$.isEmptyObject(content.filename)}}${content.filename}{{/if}}<br />
	Mimetype: {{if !$.isEmptyObject(content.mimetype)}}${content.mimetype}{{/if}}<br />
	Size: {{if content.size != undefined}}${content.size}{{/if}}<br />
	Duration: {{if content.duration != undefined}}${content.duration}{{/if}}<br /><br />
	
	Audio Bitdepht: {{if !$.isEmptyObject(content.audio) && content.audio.bitdepth != undefined}}${content.audio.bitdepth}{{/if}}<br />
	Audio Bitrate: {{if !$.isEmptyObject(content.audio) && content.audio.bitrate != undefined}}${content.audio.bitrate}{{/if}}<br />
	Audio Channels: {{if !$.isEmptyObject(content.audio) && content.audio.channels != undefined}}${content.audio.channels}{{/if}}<br />
	Audio Format: {{if !$.isEmptyObject(content.audio) && !$.isEmptyObject(content.audio.format)}}${content.audio.format}{{/if}}<br />
	Audio Samplingrate: {{if !$.isEmptyObject(content.audio) && content.audio.samplingrate != undefined}}${content.audio.samplingrate}{{/if}}<br /><br />
	
	Video Bitrate: {{if !$.isEmptyObject(content.video) && content.audio.bitrate != undefined}}${content.video.bitrate}{{/if}}<br />
	Video Format: {{if !$.isEmptyObject(content.video) && !$.isEmptyObject(content.video.format)}}${content.video.format}{{/if}}<br />
	Video Framerate: {{if !$.isEmptyObject(content.video) && content.audio.framerate != undefined}}${content.video.framerate}{{/if}}<br />
	Video Resolution: {{if !$.isEmptyObject(content.video) && content.audio.resolution != undefined}}${content.video.resolution}{{/if}}<br />
	Video Scantype: {{if !$.isEmptyObject(content.video) && !$.isEmptyObject(content.video.scantype)}}${content.video.scantype}{{/if}}<br />
{{else file.name.localPart == 'image'}}
	<h2>Image Metadaten:</h2>
	Filename: {{if !$.isEmptyObject(content.filename)}}${content.filename}{{/if}}<br />
	Mimetype: {{if !$.isEmptyObject(content.mimetype)}}${content.mimetype}{{/if}}<br />
	Size: {{if content.size != undefined}}${content.size}{{/if}}<br />
	Width: {{if content.width != undefined}}${content.width}{{/if}}<br />
	Height: {{if content.height != undefined}}${content.height}{{/if}}<br />
	Datetaken: {{if !$.isEmptyObject(content.datetaken)}}${content.datetaken}{{/if}}<br />
	Location: {{if !$.isEmptyObject(content.location)}}${content.location}{{/if}}<br />
	
	GPS Latitude: {{if !$.isEmptyObject(content.gps) && content.gps.lat != undefined}}${content.gps.lat}{{/if}}<br />
	GPS Longitude: {{if !$.isEmptyObject(content.gps) && content.gps.lng != undefined}}${content.gps.lng}{{/if}}<br />
	Filmspeed: {{if content.filmspeed != undefined}}${content.filmspeed}{{/if}}<br />
	Fnumber: {{if content.fnumber != undefined}}${content.fnumber}{{/if}}<br />
	Focal Width: {{if content.focalwidth != undefined}}${content.focalwidth}{{/if}}<br />
	Exposure Time: {{if content.exposuretime != undefined}}${content.exposuretime}{{/if}}<br />
{{else file.name.localPart == 'file'}}
	<h2>File Metadaten:</h2>
	Filename: {{if !$.isEmptyObject(content.filename)}}${content.filename}{{/if}}<br />
	Mimetype: {{if !$.isEmptyObject(content.mimetype)}}${content.mimetype}{{/if}}<br />
	Size: {{if content.size != undefined}}${content.size}{{/if}}<br />
{{/if}}