/* make space for the menubar */
#page_margins {
	padding-top: 100px;
}

/* mini-rest & general declarations */
html * {
    font-size: 100.01%;
}
body {
    font-family: arial,verdana,tahoma;
    font-size: 12px;
}

/* move to new plugin "designer" */
.pagelet:hover,
.pagelet:hover div,
.pagelet:hover p {
	background-color: #ccc !important
}