/* mini-rest & general declarations */
#weblounge-editor {
   	font-family: arial,verdana,tahoma;
	font-size: 12px;
}

/* global */
div.DataTables_sort_wrapper span {
	display: inline-block;
}

/* make space for the menubar */
body {
  margin-top: 45px;
}