img.icon_editing {
    left: 50%;
    margin-left: -40px;
    position: relative;
    top: -20px;
    cursor: pointer;
}

/* media */
#empty_view {
	display:none;
}

td.action img {
	display:none;
}

td.action img.settings {
	display:inline;
}