<nav class="weblounge">
	<div class="wbl-alignRight wbl-view">
		<button class="wbl-list">List view</button>
		<button class="wbl-thumbnails">Thumbnails</button>
	</div>

	<div class="btn-group wbl-filter">
	    <button class="btn wbl-all">All</button>
	    <button class="btn wbl-recent">Recent</button> 
	    <button class="btn wbl-pending">Pending <span class="badge badge-important" id="pending-batch"></span></button>
	</div>
</nav>

<div id="wbl-mainContainer" role="main">
	<div class="wbl-message"></div>
	<div class="wbl-searchBox"></div>
	<div class="wbl-listView"></div>
	<div class="wbl-thumbnailView"></div>
</div>