<div class="wbl-resourceSearch wbl-alignCenter">
<input id="wbl-resourceSearch" type="text" placeholder="Suchen..." />
</div>
<div id="wbl-addPage">
<img src="${runtime.getRootPath()}/editor/menubar/images/menu_add.png" class="wbl-addPageImg" title="Neue Seite..." alt="Neue Seite..." />
</div>
<!--
<div id="wbl-hint-searchtabs"></div>
<div id="wbl-hint-searchfield"></div>
<div id="wbl-hint-createnew"></div>
-->