<nav class="weblounge">
	<div class="align_right view">
		<button class="list">List view</button>
		<button class="thumbnails">Thumbnails</button>
	</div>
	<div class="align_center filter">
		<button class="recent">Recent</button> 
		<button class="favourites">Favorites</button> 
		<button class="pending">Pending</button> 
		<button class="all">All</button>
    </div>
</nav>

<div class="resourceview"></div>