<nav class="weblounge">
	<div class="wbl-alignRight wbl-view">
		<button class="wbl-list">List view</button>
		<button class="wbl-thumbnails">Thumbnails</button>
	</div>
	<div class="wbl-alignCenter wbl-filter">
		<button class="wbl-recent">Recent</button> 
		<button class="wbl-favorites">Favorites</button> 
		<button class="wbl-pending">Pending</button> 
		<button class="wbl-all">All</button>
    </div>
</nav>

<div id="wbl-mainContainer" role="main">
	<div class="wbl-message"></div>
	<div class="wbl-searchBox"></div>
	<div class="wbl-listView"></div>
	<div class="wbl-thumbnailView"></div>
</div>