<nav class="weblounge">
	<div class="align_right view">
		<button class="list">List view</button>
		<button class="thumbnails">Thumbnails</button>
	</div>
	<div class="align_center filter">
		<button class="recent">Recent</button> 
		<button class="favorites">Favorites</button> 
		<button class="pending">Pending</button> 
		<button class="all">All</button>
    </div>
</nav>

<div id="mainContainer" role="main">
	<div class="message"></div>
	<div class="listView"></div>
	<div class="thumbnailView"></div>
</div>

<div id="dialog-delete" title="Empty the recycle bin?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<div id="dialog-duplicate" title="Empty the recycle bin?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>