<table class="wbl-tablesorter">
	<thead>
		<tr>
			<th>Seite</th>
			<th>Seitentitel</th>
			<th>Erstellt</th>
			<th>Zuletzt editiert</th>
			<th></th>
		</tr>	
	</thead>	
	<tbody id="wbl-listViewContent">
	</tbody>
</table>
<div id="wbl-pager">
	<img src="${runtime.getRootPath()}/editor/resourcebrowser/resources/images/blue/first.png" class="wbl-first"/>
	<img src="${runtime.getRootPath()}/editor/resourcebrowser/resources/images/blue/prev.png" class="wbl-prev"/>
	<input type="text" class="wbl-pageDisplay"/>
	<img src="${runtime.getRootPath()}/editor/resourcebrowser/resources/images/blue/next.png" class="wbl-next"/>
	<img src="${runtime.getRootPath()}/editor/resourcebrowser/resources/images/blue/last.png" class="wbl-last"/>
	<select class="wbl-pageSize">
		<option selected="selected" value="10">10</option>
		<option value="20">20</option>
		<option value="30">30</option>
		<option  value="40">40</option>
	</select>
</div>

<nav class="wbl-alignCenter wbl-icons">
	<input type="text" name="filter" placeholder="Filtern..." id="wbl-filter" /> 
	<!-- <button class="wbl-duplicate">Markierte Seite duplizieren</button> -->
	<button class="wbl-delete">Markierte Seite(n) löschen</button>
	<!-- <button class="wbl-favorize">Zu Favoriten hinzufügen</button> -->
</nav>