<div class="wbl-resourceSearch wbl-alignCenter">
<input id="wbl-resourceSearch" type="text" placeholder="Suchen..." />
</div>
<div id="wbl-addPage">
<img src="${runtime.getRootPath()}/editor/menubar/images/menu_add.png" class="wbl-addPageImg" title="Neue Seite..." alt="Neue Seite..." />
</div>
<div id="wbl-tutorialStage1"></div>
<div id="wbl-tutorialstage2"></div>
<div id="wbl-tutorialStage3"></div>
<div id="wbl-tutorialStage4"></div>