<div id="wbl-makeMeScrollable">
	<div class="scrollingHotSpotLeft"></div>
	<div class="scrollingHotSpotRight"></div>
	<div class="scrollWrapper">
		<div class="scrollableArea">
			
		</div>
	</div>
</div>

<nav class="wbl-alignCenter wbl-icons">
	<input type="text" name="filter" placeholder="Filtern..." id="wbl-filter" /> 
	<!-- <button class="wbl-duplicate">Markierte Seite duplizieren</button> -->
	<button class="wbl-delete">Markierte Seite(n) löschen</button>
	<!-- <button class="wbl-favorize">Zu Favoriten hinzufügen</button> -->
</nav>