<div class="listview">
	<table>
		<thead>
			<tr>
				<th>Seite</th>
				<th>Seitentitel</th>
				<th>Erstellt</th>
				<th>Zuletzt editiert</th>
				<th></th>
			</tr>	
		</thead>	
		<tbody id="listViewContent">
		</tbody>
	</table>		
</div>

<nav class="align_center icons">
	<input type="text" name="filter" placeholder="Filtern..." id="filter"> 
	<button class="duplicate ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="Markierte Seite duplizieren"><span class="ui-button-icon-primary ui-icon ui-icon-copy"></span><span class="ui-button-text">Markierte Seite duplizieren</span></button> <button class="delete ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="Markierte Seite(n) löschen"><span class="ui-button-icon-primary ui-icon ui-icon-trash"></span><span class="ui-button-text">Markierte Seite(n) löschen</span></button> <button class="favorize ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="Zu Favoriten hinzufügen"><span class="ui-button-icon-primary ui-icon ui-icon-star"></span><span class="ui-button-text">Zu Favoriten hinzufügen</span></button>
</nav>