<tr>
	<td><input type="checkbox" id="seitenID_5">/news</td>
	<td>Startseite</td>
	<td>Betschmann / 01.01.2011</td>
	<td>Betschmann / 01.01.2011</td>
	<td class="action">
		<img src="resourcebrowser/images/icon_settings.png" class="settings" alt="settings">
		<img src="resourcebrowser/images/icon_trash.png" class="delete" alt="trash">
		<img src="resourcebrowser/images/icon_favorite.png" class="favorite" alt="favorize">
	</td>
</tr>