<div id="makeMeScrollable">
	<div class="scrollingHotSpotLeft scrollingHotSpotLeftVisible" style="display: block; "></div>
	<div class="scrollingHotSpotRight scrollingHotSpotRightVisible" style="display: block; "></div>
	<div class="scrollWrapper">
		<div class="scrollableArea" style="width: 2520px; ">
			
		</div>
	</div>
</div>

<nav class="align_center icons">
	<input type="text" name="filter" placeholder="Filtern..." id="filter"> 
	<button class="duplicate ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="Markierte Seite duplizieren"><span class="ui-button-icon-primary ui-icon ui-icon-copy"></span><span class="ui-button-text">Markierte Seite duplizieren</span></button>
	<button class="delete ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="Markierte Seite(n) löschen"><span class="ui-button-icon-primary ui-icon ui-icon-trash"></span><span class="ui-button-text">Markierte Seite(n) löschen</span></button>
	<button class="favorize ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="Zu Favoriten hinzufügen"><span class="ui-button-icon-primary ui-icon ui-icon-star"></span><span class="ui-button-text">Zu Favoriten hinzufügen</span></button>
</nav>