<div class="wbl-resourceSearch wbl-alignCenter">
<input id="wbl-resourceSearch" type="text" placeholder="Suchen..." />
</div>
<div id="wbl-mediaFileUploader"></div>
<!--
<div id="wbl-hint-searchtabs"></div>
<div id="wbl-hint-searchfield"></div>
<div id="wbl-hint-createnew"></div>
-->