<div id="makeMeScrollable">
	<div class="scrollingHotSpotLeft scrollingHotSpotLeftVisible" style="display: block; "></div>
	<div class="scrollingHotSpotRight scrollingHotSpotRightVisible" style="display: block; "></div>
	<div class="scrollWrapper">
		<div class="scrollableArea" style="width: 2520px; ">
			
		</div>
	</div>
</div>

<nav class="align_center icons">
	<input type="text" name="filter" placeholder="Filtern..." id="filter" /> 
	<button class="duplicate">Markierte Seite duplizieren</button>
	<button class="delete">Markierte Seite(n) löschen</button>
	<button class="favorize">Zu Favoriten hinzufügen</button>
</nav>