<div class="wbl-resourceSearch wbl-alignCenter">
<input id="wbl-resourceSearch" type="text" placeholder="Suchen..." />
</div>
<div id="wbl-tutorialStage1"></div>
<div id="wbl-tutorialstage2"></div>
<div id="wbl-tutorialStage3"></div>