<table>
	<thead>
		<tr>
			<th>Seite</th>
			<th>Seitentitel</th>
			<th>Erstellt</th>
			<th>Zuletzt editiert</th>
			<th></th>
		</tr>	
	</thead>	
	<tbody id="listViewContent">
	</tbody>
</table>

<nav class="align_center icons">
	<input type="text" name="filter" placeholder="Filtern..." id="filter" /> 
	<button class="duplicate">Markierte Seite duplizieren</button>
	<button class="delete">Markierte Seite(n) löschen</button>
	<button class="favorize">Zu Favoriten hinzufügen</button>
</nav>