<div class="resourceSearch align_center">
<input id="resourceSearch" type="text" placeholder="Suchen..." />
</div>
<div id="tutorial_stage_1"></div>
<div id="tutorial_stage_2"></div>
<div id="tutorial_stage_3"></div>