.editor_pagecreator {

}

#makeMeScrollablePageCreator {
    height: 330px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

#pagecreator_step1 {
	position: relative;
}

#pagecreator_step1 input[type="text"], #pagecreator_step2 input[type="text"] {
    width: 200px;
}

.top_right {
	position: absolute;
	top: 0;
	right: 0;
}

.filetree span.file {
	cursor: pointer;
}

.active img {
	opacity: 0.3;
}

.active {
	color: #CCCCCC !important;
}

#pagecreator_step2 {

}