.editor_pagecreator {

}

/* custom button icons */
.editor_pagecreator .icon-list {background: url('../resourcebrowser/images/icon_list.png') no-repeat top left !important}
.editor_pagecreator .icon-tree {background: url('../resourcebrowser/images/icon_tree.png') no-repeat top left !important}
.editor_pagecreator .icon-thumbnails {background: url('../resourcebrowser/images/icon_thumbnails.png') no-repeat top left !important}

.editor_pagecreator #makeMeScrollablePageCreator {
    height: 330px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.editor_pagecreator #pagecreator_step1 {
	position: relative;
}

.editor_pagecreator #pagecreator_step1 input[type="text"], .editor_pagecreator #pagecreator_step2 input[type="text"] {
    width: 200px;
}

.editor_pagecreator .top_right {
	position: absolute;
	top: 0;
	right: 0;
}

.editor_pagecreator .filetree span.file {
	cursor: pointer;
}

.editor_pagecreator .active img {
	opacity: 0.3;
}

.editor_pagecreator .active {
	color: #CCCCCC !important;
}

.editor_pagecreator #pagecreator_step2 {

}