<div id="wbl-makeMeScrollableImage">
	<div class="scrollingHotSpotLeft"></div>
	<div class="scrollingHotSpotRight"></div>
	<div class="scrollWrapper">
		<div id ="wbl-previewImageContainer" class="wbl-scrollableImageArea">
			
		</div>
	</div>
</div>
<div id="wbl-fileUploader"></div>