<div id="pagecreator_step1"><h2>Elternseite auswählen</h2>
	<div class="top_right">
		<button class="list">List view</button>
		<button class="thumbnails">Thumbnails</button>
		<button class="tree">Treeview</button>
	</div>
	<div class="listView">
		<table>
			<thead>
				<tr>
					<th>Seite</th>
				</tr>	
			</thead>	
			<tbody id="listViewContent">
				{{each pages}}
				<tr>
					<td class="filetree"><span class="file">${$value.path}</span></td>
				</tr>
	    		{{/each}}
			</tbody>
		</table>
	</div>
	<div class="thumbnailView">
		<div id="makeMeScrollablePageCreator">
			<div class="scrollingHotSpotLeft"></div>
			<div class="scrollingHotSpotRight"></div>
			<div class="scrollWrapper">
				<div class="scrollableArea">
				{{each pages}}
					<div class="scrollviewitem page" id="${$value.path}">
						<img src="/system/weblounge/previews/${$value.id}/locales/${language}/styles/weblounge-ui:preview" alt="" class="page_thumbnail" />
						<h3>${$value.path}</h3>
					</div>
			    {{/each}}
				</div>
			</div>
		</div>
		<div class="align_center">
			<input type="text" name="filter" placeholder="Filtern..." /> <img src="/weblounge/editor/menubar/images/lupe.png" />
		</div>
	</div>
	<div class="treeView">
	    <ul id="tree" class="filetree">
		    <li><span class="folder">home</span>
		    	<ul>
				{{each pages}}
			    	<li><span class="file">${$value.path}</span></li>
			    {{/each}}
			    </ul>
		    </li>
	    </ul>
	</div>
</div>

<div id="pagecreator_step2">
<form id="validate" onsubmit="return false;">
Seitentitel: <input type="text" name="title" class="required" /><br /><br />
URL: <input type="text" name="url" class="required" /><br /><br />
Layout: <select name="layout" >
	{{each options}}
		<option value="${$value}">${$value}</option>
    {{/each}}
</select><br /><br />
Beschreibung: <input type="text" name="description" /><br /><br />
Tags: <input type="text" name="tags" />
</form>
</div>