<div id="makeMeScrollableImage">
	<div class="scrollingHotSpotLeft"></div>
	<div class="scrollingHotSpotRight"></div>
	<div class="scrollWrapper">
		<div id ="previewImageContainer" class="scrollableImageArea">
			
		</div>
	</div>
</div>
<div id="file-uploader"></div>