<div id="file-preview"></div>
<div id="metadata">
Title: <input type="text" name="title" /><br />
Beschreibung: <input type="text" name="description" /><br />
Tags: <input type="text" name="tags" /><br />
Ersteller: <input type="text" name="author" /><br />
</div>