.editor_tagger .taggerImage {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.editor_tagger .metadata {
	width: 500px;
	height: 200px;
	margin-left: auto;
    margin-right: auto;
}

.editor_tagger div.buttonLeft {
	position: absolute;
	left: 0;
	width: 10%;
	height: 90%;
	background-image: url(../resourcebrowser/resources/images/arrow_left.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.editor_tagger div.buttonRight {
	position: absolute;
	right: 0;
	width: 10%;
	height: 90%;
	background-image: url(../resourcebrowser/resources/images/arrow_right.png);				
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.editor_tagger img.copyMetadata {
	cursor: pointer;
}