<div id="weblounge-editor">
	<div id="wbl-menubar"></div>
	<div id="wbl-pageletcreator"></div>
	<div id="wbl-pagebrowser"></div>
	<div id="wbl-mediabrowser"></div>
	<div id="wbl-massuploader"></div>
	<div id="wbl-tagger"></div>
	<div id="wbl-pageleteditor"></div>
	<div id="wbl-pagecreator"></div>
	<div id="wbl-pageheadeditor"></div>
</div>