<?xml version="1.0" encoding="UTF-8"?>
<module id="repository" xmlns="http://www.entwinemedia.com/weblounge/3.0/module" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.entwinemedia.com/weblounge/3.0/module http://www.entwinemedia.com/xsd/weblounge/3.0/module.xsd">
  
  <enable>true</enable>
  <name>File repository / Images</name>
  
  <pagelets>
    <pagelet id="download" composeable="true">
      <name>Download</name>
      <renderer>file://${module.root}/jsp/download/download.jsp</renderer>
      <editor>file://${module.root}/jsp/download/download_editor.jsp</editor>
      <includes>
        <link use="editor" href="file://${module.root}/jsp/download/download.css" rel="stylesheet" type="text/css"></link>
        <script use="editor" src="file://${module.root}/jsp/download/download.js" type="javascript"></script>
      </includes>
    </pagelet>
    
    <pagelet id="image" composeable="true">
      <name>Image</name>
      <renderer>file://${module.root}/jsp/image/image.jsp</renderer>
      <renderer type="feed">file://${module.root}/jsp/image/image.jsp</renderer>
      <editor>file://${module.root}/jsp/image/image_editor.jsp</editor>
      <includes>
        <link use="editor" href="file://${module.root}/jsp/gallery/gallery.css" rel="stylesheet" type="text/css"></link>
        <script use="editor" src="file://${module.root}/jsp/gallery/gallery.js" type="javascript"></script>
      </includes>
    </pagelet>
    
    <pagelet id="gallery" composeable="true">
      <name>Image gallery</name>
      <renderer>file://${module.root}/jsp/gallery/gallery.jsp</renderer>
      <editor>file://${module.root}/jsp/gallery/gallery_editor.jsp</editor>
      <includes>
        <link use="editor" href="file://${module.root}/jsp/gallery/gallery.css" rel="stylesheet" type="text/css"></link>
        <script use="editor" src="file://${module.root}/jsp/gallery/gallery.js" type="javascript"></script>
      </includes>
    </pagelet>
    
    <pagelet id="gallery_1x1" composeable="false">
      <name>Image gallery 1x1</name>
      <renderer>file://${module.root}/jsp/gallery/gallery_1x1.jsp</renderer>
      <editor>file://${module.root}/jsp/gallery/gallery_editor.jsp</editor>
      <includes>
        <link use="editor" href="file://${module.root}/jsp/gallery/gallery.css" rel="stylesheet" type="text/css"></link>
        <script use="editor" src="file://${module.root}/jsp/gallery/gallery.js" type="javascript"></script>
      </includes>
    </pagelet>
    
    <pagelet id="gallery_3x3" composeable="false">
      <name>Image gallery 3x3</name>
      <renderer>file://${module.root}/jsp/gallery/gallery_3x3.jsp</renderer>
      <editor>file://${module.root}/jsp/gallery/gallery_editor.jsp</editor>
      <includes>
        <link use="editor" href="file://${module.root}/jsp/gallery/gallery.css" rel="stylesheet" type="text/css"></link>
        <script use="editor" src="file://${module.root}/jsp/gallery/gallery.js" type="javascript"></script>
      </includes>
    </pagelet>
  </pagelets>
</module>