.editor_composer {
	min-height: 50px;
}

.editor_composer a.wbl-addPagelet {
	cursor: pointer;
	background: url("../menubar/images/menu_add.png") center center no-repeat ;
	display: inline-block;
	position: absolute;
	top: 25%;
	left: 50%;
	width:24px;
	height:24px;
}

/* edit-icons */
.editor_composer .wbl-editing-palet {
	padding: 8px !important;
	margin: 5px !important;
	cursor: pointer;
	z-index: 399; /* 1 below 400 of #wbl-pageletcreator */
	position: absolute;
	background-color: #fff;
	border-radius: 10px;
}

.editor_composer .wbl-editing-palet .icon-pencil {
	margin-left: 15px; /* Does not affect ?!?!? */
}

.editor_composer .wbl-pageletPlaceholder {
	border: dashed 1px #FF0000;
	color: #363636;
	padding: 10px;
	margin: 2px;
}

.editor_composer.wbl-nojQuery div.pagelet:hover {
	background-color: rgba(204, 204, 204, 0.3)
}

.wbl-composer-editable.wbl-nojQuery {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 2px 0;
}

.pagelet {
	position:relative;
}