# Configuration file for the default runtime environment setting, which is used
# by weblounge to create links pointing to sites, e. g. when css or style sheets
# are included per configuration in site.xml or module.xml configuration files.
#
# Using this configuration file and by properly setting up the site urls in a
# site's sit.xml, you are able to use the exact same site in development,
# staging or production environments. 

# Specify the default environment to be used by this instance.
# possible values are production, staging or development.
environment=${weblounge_environment}