<module id="testmodule">
  <enable>true</enable>
  <name language="de">Testmodul</name>
  <name language="en">Test module</name>
  <pagelets>
    <pagelet id="content" composeable="true">
      <renderer>http://localhost:8080/weblounge-sites/weblounge-test/modules/test/pagelets/content.jsp</renderer>
      <recheck>1d10M</recheck>
      <valid>1w1d1H1M</valid>
      <name language="de">Seiteninhalt</name>
      <name language="en">Page content</name>
      <includes>
        <link href="http://localhost:8080/weblounge-sites/weblounge-test/modules/test/css/content.css" type="text/css"/>
      </includes>
    </pagelet>
    <pagelet id="greeting" composeable="true">
      <renderer>http://localhost:8080/weblounge-sites/weblounge-test/modules/test/pagelets/greeting.jsp</renderer>
      <recheck>1d10M</recheck>
      <valid>1w1d1H1M</valid>
      <name language="de">Begrüssung</name>
      <name language="en">Greeting</name>
      <includes>
        <link href="http://localhost:8080/weblounge-sites/weblounge-test/modules/test/css/greeting.css" type="text/css"/>
      </includes>
    </pagelet>
  </pagelets>
  <actions>
    <action id="greeter.html">
      <class>ch.o2it.weblounge.test.site.GreeterAction</class>
      <mountpoint>/greeting/</mountpoint>
      <includes>
        <script src="http://localhost:8080/weblounge-sites/weblounge-test/modules/test/scripts/greeting.js" type="javascript"/>
      </includes>
    </action>
    <action id="greeter.xml">
      <class>ch.o2it.weblounge.test.site.GreeterXMLAction</class>
      <mountpoint>/greeting/</mountpoint>
    </action>
    <action id="greeter.json">
      <class>ch.o2it.weblounge.test.site.GreeterJSONAction</class>
      <mountpoint>/greeting/</mountpoint>
    </action>
  </actions>
  <jobs>
    <job id="startup">
      <name>Job title</name>
      <class>ch.o2it.weblounge.test.site.SiteStartupJob</class>
      <schedule>@restart</schedule>
    </job>
    <job id="greeter">
      <name>Job title</name>
      <class>ch.o2it.weblounge.test.site.GreeterJob</class>
      <schedule>* * * * *</schedule>
  	</job>
  </jobs>
</module>