<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

	<display-name>Weblounge Tag Library</display-name>

    <!-- =================================================================== -->
    <!-- Taglibs		                                                     -->
    <!-- =================================================================== -->

	<jsp-config> 	
		<taglib>
			<taglib-uri>weblounge-content.tld</taglib-uri>
			<taglib-location>/WEB-INF/weblounge-content.tld</taglib-location>
		</taglib>
        <!-- UNCOMMENT TO ACTIVATE
        <taglib>
          <taglib-uri>weblounge-content.tld</taglib-uri>
          <taglib-location>/WEB-INF/weblounge-content.tld</taglib-location>
        </taglib>
        -->
        <taglib>
          <taglib-uri>weblounge-content.tld</taglib-uri>
          <taglib-location>/WEB-INF/weblounge-content.tld</taglib-location>
        </taglib>
	</jsp-config>

</web-app>