<?xml version="1.0" encoding="UTF-8"?>
<module id="testmodule" xmlns="http://www.entwinemedia.com/weblounge/3.0/module" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.entwinemedia.com/weblounge/3.0/module http://www.entwinemedia.com/xsd/weblounge/3.0/module.xsd">
  <enable>true</enable>
  <name>Test module</name>
  <pagelets>
    <pagelet id="renderer" composeable="true">
      <name>Pagelet renderer</name>
      <renderer>file://renderer/renderer.jsp</renderer>
      <editor>file://renderer/editor.jsp</editor>
      <recheck>1d10M</recheck>
      <valid>1w1d1H1M</valid>
      <includes>
        <link href="http://localhost/css/stylesheet.css" type="text/css"></link>
      </includes>
    </pagelet>
  </pagelets>
  <actions>
    <action id="myaction">
      <name>Test</name>
      <class>ch.entwine.weblounge.common.site.TestAction</class>
      <mountpoint>/test/</mountpoint>
      <page>/testpage/</page>
      <template>testtemplate</template>
      <recheck>0</recheck>
      <valid>1M</valid>
      <includes>
        <link href="http://localhost/css/stylesheet.css" type="text/css"></link>
        <script src="http://localhost/scripts/script.js" type="javascript"></script>
      </includes>
      <options>
        <option>
          <name>key</name>
          <value>value</value>
        </option>
      </options>
    </action>
  </actions>
  <jobs>
    <job id="testjob">
      <name>Job title</name>
      <class>ch.entwine.weblounge.common.scheduler.TestJob</class>
      <schedule>0 0 * * 1</schedule>
      <options>
        <option>
          <name>key</name>
          <value>value</value>
        </option>
      </options>
    </job>
  </jobs>
  <imagestyles>
    <imagestyle id="modulestyle" composeable="true">
      <name>Module image</name>
      <scalingmode>box</scalingmode>
      <width>150</width>
      <height>200</height>
    </imagestyle>
  </imagestyles>
  <options>
    <option>
      <name>complex</name>
      <value>complex</value>
      <value>value</value>
    </option>
    <option>
      <name>simple</name>
      <value>simple value</value>
    </option>
  </options>
</module>