<div id="wbl-moduleTabs">
	<!-- the tabs -->
	<ul class="wbl-tabs">
		{{each modules}}
			<li><a href="#${$value.id}">${$value.name}</a></li>
    	{{/each}}
	</ul>
	<!-- tab "panes" -->
	<div class="wbl-panes">
		{{each modules}}
			<div class="wbl-pane${$value.id}"></div>
    	{{/each}}
	</div>
</div>


