<div id="wbl-moduleTabs">
	<ul>
		<li><a id="wbl-favorites" href="#wbl-moduleFavorites">Favoriten</a></li>
		{{each modules}}
			<li><a id="${$value.id}" href="#wbl-tabContent">${$value.name}</a></li>
    	{{/each}}
	</ul>
	<a class="wbl-tabClose" href="#" role="button"></a>
	<div id="wbl-moduleFavorites">
	{{each favorites}}
		<div id="${$value.name}" class="wbl-draggable ui-widget-content" module="${$value.module}" style="display: block;">${$value.name}</div>
	{{/each}}
	</div>
	<div id="wbl-tabContent"></div>
</div>