<div id="module_tabs">
	<ul>
		<li><a id="favorites" href="#module_favorites">Favoriten</a></li>
		{{each modules}}
			<li><a id="${$value.id}" href="#tabcontent">${$value.name}</a></li>
    	{{/each}}
	</ul>
	<a class="tab_close" href="#" role="button"></a>
	<div id="module_favorites"></div>
	<div id="tabcontent"></div>
</div>