/* mini-rest & general declarations */
#weblounge-editor {
  font-family: arial,verdana,tahoma;
	font-size: 12px;
	display: block;
	height: 45px;
}

/* global */
div.DataTables_sort_wrapper span {
	display: inline-block;
}

.ui-effects-transfer {  /* style the transfer element */
  border: red 2px solid;
  border-radius: 999px;
  z-index: 9999;
}

/* general dialog declarations */
#wbl-pageleteditor input[type=text],
#wbl-pageleteditor textarea {
  border: 1px solid #999;
  padding: 2px;
}

#wbl-pageleteditor h2 {
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 3px;
}

#wbl-pageleteditor h3 {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 3px;
}

#wbl-pageleteditor p{
	margin-top: 0px;
	margin-bottom:0px;
}

#wbl-pageleteditor div.indent{
	margin-left: 30px;
}

#wbl-pageleteditor span.editor-sample { 
	font-size: 10px;
	color: #666;
}

#wbl-pageleteditor p {
	
}

#wbl-pageleteditor span.required {
	font-size: 12px;
}

#wbl-pageleteditor input[type=checkbox] {
    margin-right: 10px
}

#wbl-pageleteditor label {
	display: block;
}

#wbl-pageleteditor form ul {
	list-style: none;
	margin-left: 0;
}

#wbl-pageleteditor form ul li {
	margin-left: 0;
}