/* mini-rest & general declarations */
#weblounge-editor {
  font-family: arial,verdana,tahoma;
	font-size: 12px;
	display: block;
	height: 35px;
}

.hidden { display: none }

/* global */
div.DataTables_sort_wrapper span {
	display: inline-block;
}

.ui-effects-transfer {  /* style the transfer element */
  border: red 2px solid;
  border-radius: 999px;
  z-index: 9999;
}

/* general dialog declarations */
#wbl-pageleteditor input[type=text],
#wbl-pageleteditor textarea {
  border: 1px solid #999;
}

#wbl-pageleteditor h2 {
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 3px;
}

#wbl-pageleteditor h3 {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 3px;
}

#wbl-pageleteditor p{
	margin-top: 0px;
	margin-bottom:0px;
}

#wbl-pageleteditor div.indent{
	margin-left: 30px;
}

#wbl-pageleteditor span.editor-sample { 
	font-size: 10px;
	color: #666;
	display: block;
}

#wbl-pageleteditor p {
	
}

#wbl-pageleteditor span.required {
	font-size: 12px;
}

#wbl-pageleteditor input[type=checkbox] {
    margin-right: 10px
}

#wbl-pageleteditor label {
	display: block;
}

#wbl-pageleteditor form ul {
	list-style: none;
	margin-left: 0;
}

#wbl-pageleteditor form ul li {
	margin-left: 0;
}



/* Horizontal form in pagelet-dialogs */
#wbl-pageleteditor .ui-dialog-content {
  padding: 1em;
  cursor: auto;
}
#wbl-pageleteditor .control-group:after {
    clear: both;
}
#wbl-pageleteditor .control-group:before, 
#wbl-pageleteditor .control-group:after {
    content: "";
    display: table;
    line-height: 0;
}
#wbl-pageleteditor .control-group {
    margin-bottom: 15px;
}
#wbl-pageleteditor .control-group label {
  float: left;
  padding-top: 2px;
  text-align: right;
  width: 160px;
}
#wbl-pageleteditor .control-grou.select label {
  padding-top: 0;
}
#wbl-pageleteditor .control-group.select {
  margin-bottom: 10px;
}
#wbl-pageleteditor .controls {
  margin-left: 175px;
}
#wbl-pageleteditor .controls input[type="text"],
#wbl-pageleteditor .controls textarea {
  margin-bottom: 0;
  width: 95%;
}
#wbl-pageleteditor .control-group-select .controls {
  padding-top: 2px;
}
#wbl-pageleteditor legend + .control-group {
    margin-top: 15px;
}
#wbl-pageleteditor label select {
  width: auto;
}

#wbl-pageleteditor ul.nav-tabs {
  margin: 5px 0 15px;
  padding: 0;
}
#wbl-pageleteditor p.desc {
  font-size: 10px;
}

/* preview img in the dialogs */
img.dialog-preview {
  width: 150px !important;
}

/* Glyphicons */
[class^="wbl-icon-"],
[class*=" wbl-icon-"] {
  display: inline-block;
  margin-top: 1px;
  *margin-right: .3em;
  vertical-align: text-top;
  background-image: url('glyphicons.png');
  background-repeat: no-repeat;
} 

.wbl-icon-glass{ background-position: 0 0; width: 24px; height: 24px; } 
.wbl-icon-leaf{ background-position: 0 -74px; width: 24px; height: 25px; } 
.wbl-icon-dog{ background-position: 0 -149px; width: 26px; height: 25px; } 
.wbl-icon-user{ background-position: 0 -224px; width: 23px; height: 22px; } 
.wbl-icon-girl{ background-position: 0 -296px; width: 22px; height: 22px; } 
.wbl-icon-car{ background-position: 0 -368px; width: 26px; height: 22px; } 
.wbl-icon-user_add{ background-position: 0 -440px; width: 28px; height: 22px; } 
.wbl-icon-user_remove{ background-position: 0 -512px; width: 26px; height: 22px; } 
.wbl-icon-film{ background-position: 0 -584px; width: 22px; height: 26px; } 
.wbl-icon-magic{ background-position: 0 -660px; width: 24px; height: 24px; } 
.wbl-icon-envelope{ background-position: 0 -734px; width: 24px; height: 16px; } 
.wbl-icon-camera{ background-position: 0 -800px; width: 26px; height: 20px; } 
.wbl-icon-heart{ background-position: 0 -870px; width: 24px; height: 22px; } 
.wbl-icon-beach_umbrella{ background-position: 0 -942px; width: 24px; height: 24px; } 
.wbl-icon-train{ background-position: 0 -1016px; width: 20px; height: 26px; } 
.wbl-icon-print{ background-position: 0 -1092px; width: 24px; height: 24px; } 
.wbl-icon-trash{ background-position: 0 -1166px; width: 20px; height: 28px; } 
.wbl-icon-music{ background-position: 0 -1244px; width: 21px; height: 25px; } 
.wbl-icon-note{ background-position: 0 -1319px; width: 18px; height: 25px; } 
.wbl-icon-heart_empty{ background-position: 0 -1394px; width: 24px; height: 22px; } 
.wbl-icon-home{ background-position: 0 -1466px; width: 27px; height: 26px; } 
.wbl-icon-snowflake{ background-position: 0 -1542px; width: 28px; height: 28px; } 
.wbl-icon-fire{ background-position: 0 -1620px; width: 21px; height: 26px; } 
.wbl-icon-magnet{ background-position: 0 -1696px; width: 21px; height: 23px; } 
.wbl-icon-parents{ background-position: 0 -1769px; width: 32px; height: 22px; } 
.wbl-icon-binoculars{ background-position: 0 -1841px; width: 24px; height: 24px; } 
.wbl-icon-road{ background-position: 0 -1915px; width: 28px; height: 24px; } 
.wbl-icon-search{ background-position: -82px 0; width: 24px; height: 24px; } 
.wbl-icon-cars{ background-position: -82px -74px; width: 36px; height: 25px; } 
.wbl-icon-notes_2{ background-position: -82px -149px; width: 20px; height: 27px; } 
.wbl-icon-pencil{ background-position: -82px -226px; width: 24px; height: 24px; } 
.wbl-icon-bus{ background-position: -82px -300px; width: 32px; height: 25px; } 
.wbl-icon-wifi_alt{ background-position: -82px -375px; width: 26px; height: 26px; } 
.wbl-icon-luggage{ background-position: -82px -451px; width: 20px; height: 27px; } 
.wbl-icon-old_man{ background-position: -82px -528px; width: 23px; height: 24px; } 
.wbl-icon-woman{ background-position: -82px -602px; width: 22px; height: 22px; } 
.wbl-icon-file{ background-position: -82px -674px; width: 19px; height: 24px; } 
.wbl-icon-coins{ background-position: -82px -748px; width: 26px; height: 24px; } 
.wbl-icon-airplane{ background-position: -82px -822px; width: 24px; height: 25px; } 
.wbl-icon-notes{ background-position: -82px -897px; width: 20px; height: 25px; } 
.wbl-icon-stats{ background-position: -82px -972px; width: 26px; height: 25px; } 
.wbl-icon-charts{ background-position: -82px -1047px; width: 27px; height: 24px; } 
.wbl-icon-pie_chart{ background-position: -82px -1121px; width: 26px; height: 25px; } 
.wbl-icon-group{ background-position: -82px -1196px; width: 35px; height: 22px; } 
.wbl-icon-keys{ background-position: -82px -1268px; width: 24px; height: 26px; } 
.wbl-icon-calendar{ background-position: -82px -1344px; width: 23px; height: 24px; } 
.wbl-icon-router{ background-position: -82px -1418px; width: 27px; height: 26px; } 
.wbl-icon-camera_small{ background-position: -82px -1494px; width: 22px; height: 24px; } 
.wbl-icon-dislikes{ background-position: -82px -1568px; width: 25px; height: 24px; } 
.wbl-icon-star{ background-position: -82px -1642px; width: 25px; height: 24px; } 
.wbl-icon-link{ background-position: -82px -1716px; width: 21px; height: 23px; } 
.wbl-icon-eye_open{ background-position: -82px -1789px; width: 31px; height: 17px; } 
.wbl-icon-eye_close{ background-position: -82px -1856px; width: 31px; height: 24px; } 
.wbl-icon-alarm{ background-position: -82px -1930px; width: 27px; height: 25px; } 
.wbl-icon-clock{ background-position: -168px 0; width: 24px; height: 24px; } 
.wbl-icon-stopwatch{ background-position: -168px -74px; width: 23px; height: 27px; } 
.wbl-icon-projector{ background-position: -168px -151px; width: 28px; height: 25px; } 
.wbl-icon-history{ background-position: -168px -226px; width: 25px; height: 26px; } 
.wbl-icon-truck{ background-position: -168px -302px; width: 32px; height: 27px; } 
.wbl-icon-cargo{ background-position: -168px -379px; width: 25px; height: 26px; } 
.wbl-icon-compass{ background-position: -168px -455px; width: 24px; height: 24px; } 
.wbl-icon-keynote{ background-position: -168px -529px; width: 20px; height: 30px; } 
.wbl-icon-paperclip{ background-position: -168px -609px; width: 26px; height: 24px; } 
.wbl-icon-power{ background-position: -168px -683px; width: 22px; height: 24px; } 
.wbl-icon-lightbulb{ background-position: -168px -757px; width: 20px; height: 26px; } 
.wbl-icon-tag{ background-position: -168px -833px; width: 24px; height: 24px; } 
.wbl-icon-tags{ background-position: -168px -907px; width: 30px; height: 24px; } 
.wbl-icon-cleaning{ background-position: -168px -981px; width: 24px; height: 25px; } 
.wbl-icon-ruller{ background-position: -168px -1056px; width: 27px; height: 14px; } 
.wbl-icon-gift{ background-position: -168px -1120px; width: 24px; height: 25px; } 
.wbl-icon-umbrella{ background-position: -168px -1195px; width: 26px; height: 28px; } 
.wbl-icon-book{ background-position: -168px -1273px; width: 22px; height: 24px; } 
.wbl-icon-bookmark{ background-position: -168px -1347px; width: 15px; height: 24px; } 
.wbl-icon-wifi{ background-position: -168px -1421px; width: 31px; height: 23px; } 
.wbl-icon-cup{ background-position: -168px -1494px; width: 22px; height: 24px; } 
.wbl-icon-stroller{ background-position: -168px -1568px; width: 25px; height: 26px; } 
.wbl-icon-headphones{ background-position: -168px -1644px; width: 24px; height: 24px; } 
.wbl-icon-headset{ background-position: -168px -1718px; width: 24px; height: 28px; } 
.wbl-icon-warning_sign{ background-position: -168px -1796px; width: 29px; height: 24px; } 
.wbl-icon-signal{ background-position: -168px -1870px; width: 24px; height: 24px; } 
.wbl-icon-retweet{ background-position: -168px -1944px; width: 28px; height: 15px; } 
.wbl-icon-refresh{ background-position: -254px 0; width: 25px; height: 26px; } 
.wbl-icon-roundabout{ background-position: -254px -76px; width: 26px; height: 26px; } 
.wbl-icon-random{ background-position: -254px -152px; width: 28px; height: 20px; } 
.wbl-icon-heat{ background-position: -254px -222px; width: 29px; height: 25px; } 
.wbl-icon-repeat{ background-position: -254px -297px; width: 23px; height: 26px; } 
.wbl-icon-display{ background-position: -254px -373px; width: 28px; height: 24px; } 
.wbl-icon-log_book{ background-position: -254px -447px; width: 22px; height: 24px; } 
.wbl-icon-adress_book{ background-position: -254px -521px; width: 22px; height: 24px; } 
.wbl-icon-building{ background-position: -254px -595px; width: 24px; height: 26px; } 
.wbl-icon-eyedropper{ background-position: -254px -671px; width: 24px; height: 24px; } 
.wbl-icon-adjust{ background-position: -254px -745px; width: 26px; height: 26px; } 
.wbl-icon-tint{ background-position: -254px -821px; width: 24px; height: 25px; } 
.wbl-icon-crop{ background-position: -254px -896px; width: 26px; height: 26px; } 
.wbl-icon-vector_path_square{ background-position: -254px -972px; width: 24px; height: 24px; } 
.wbl-icon-vector_path_circle{ background-position: -254px -1046px; width: 24px; height: 24px; } 
.wbl-icon-vector_path_polygon{ background-position: -254px -1120px; width: 26px; height: 25px; } 
.wbl-icon-vector_path_line{ background-position: -254px -1195px; width: 24px; height: 24px; } 
.wbl-icon-vector_path_curve{ background-position: -254px -1269px; width: 24px; height: 24px; } 
.wbl-icon-vector_path_all{ background-position: -254px -1343px; width: 24px; height: 24px; } 
.wbl-icon-font{ background-position: -254px -1417px; width: 27px; height: 23px; } 
.wbl-icon-italic{ background-position: -254px -1490px; width: 14px; height: 24px; } 
.wbl-icon-bold{ background-position: -254px -1564px; width: 19px; height: 24px; } 
.wbl-icon-text_underline{ background-position: -254px -1638px; width: 20px; height: 24px; } 
.wbl-icon-text_strike{ background-position: -254px -1712px; width: 20px; height: 22px; } 
.wbl-icon-text_height{ background-position: -254px -1784px; width: 26px; height: 24px; } 
.wbl-icon-text_width{ background-position: -254px -1858px; width: 22px; height: 24px; } 
.wbl-icon-text_resize{ background-position: -254px -1932px; width: 26px; height: 26px; } 
.wbl-icon-left_indent{ background-position: -340px 0; width: 24px; height: 22px; } 
.wbl-icon-right_indent{ background-position: -340px -72px; width: 24px; height: 22px; } 
.wbl-icon-align_left{ background-position: -340px -144px; width: 24px; height: 21px; } 
.wbl-icon-align_center{ background-position: -340px -215px; width: 24px; height: 21px; } 
.wbl-icon-align_right{ background-position: -340px -286px; width: 24px; height: 21px; } 
.wbl-icon-justify{ background-position: -340px -357px; width: 24px; height: 21px; } 
.wbl-icon-list{ background-position: -340px -428px; width: 24px; height: 21px; } 
.wbl-icon-text_smaller{ background-position: -340px -499px; width: 22px; height: 16px; } 
.wbl-icon-text_bigger{ background-position: -340px -565px; width: 24px; height: 22px; } 
.wbl-icon-embed{ background-position: -340px -637px; width: 30px; height: 14px; } 
.wbl-icon-embed_close{ background-position: -340px -701px; width: 30px; height: 24px; } 
.wbl-icon-table{ background-position: -340px -775px; width: 24px; height: 24px; } 
.wbl-icon-message_full{ background-position: -340px -849px; width: 24px; height: 28px; } 
.wbl-icon-message_empty{ background-position: -340px -927px; width: 24px; height: 28px; } 
.wbl-icon-message_in{ background-position: -340px -1005px; width: 24px; height: 28px; } 
.wbl-icon-message_out{ background-position: -340px -1083px; width: 24px; height: 28px; } 
.wbl-icon-message_plus{ background-position: -340px -1161px; width: 29px; height: 23px; } 
.wbl-icon-message_minus{ background-position: -340px -1234px; width: 29px; height: 23px; } 
.wbl-icon-message_ban{ background-position: -340px -1307px; width: 29px; height: 23px; } 
.wbl-icon-message_flag{ background-position: -340px -1380px; width: 27px; height: 23px; } 
.wbl-icon-message_lock{ background-position: -340px -1453px; width: 28px; height: 24px; } 
.wbl-icon-message_new{ background-position: -340px -1527px; width: 28px; height: 22px; } 
.wbl-icon-inbox{ background-position: -340px -1599px; width: 24px; height: 23px; } 
.wbl-icon-inbox_plus{ background-position: -340px -1672px; width: 27px; height: 27px; } 
.wbl-icon-inbox_minus{ background-position: -340px -1749px; width: 27px; height: 27px; } 
.wbl-icon-inbox_lock{ background-position: -340px -1826px; width: 26px; height: 28px; } 
.wbl-icon-inbox_in{ background-position: -340px -1904px; width: 24px; height: 26px; } 
.wbl-icon-inbox_out{ background-position: -426px 0; width: 24px; height: 26px; } 
.wbl-icon-cogwheel{ background-position: -426px -76px; width: 24px; height: 24px; } 
.wbl-icon-cogwheels{ background-position: -426px -150px; width: 34px; height: 27px; } 
.wbl-icon-picture{ background-position: -426px -227px; width: 24px; height: 20px; } 
.wbl-icon-adjust_alt{ background-position: -426px -297px; width: 23px; height: 24px; } 
.wbl-icon-database_lock{ background-position: -426px -371px; width: 26px; height: 28px; } 
.wbl-icon-database_plus{ background-position: -426px -449px; width: 27px; height: 27px; } 
.wbl-icon-database_minus{ background-position: -426px -526px; width: 27px; height: 27px; } 
.wbl-icon-database_ban{ background-position: -426px -603px; width: 26px; height: 27px; } 
.wbl-icon-folder_open{ background-position: -426px -680px; width: 30px; height: 22px; } 
.wbl-icon-folder_plus{ background-position: -426px -752px; width: 29px; height: 25px; } 
.wbl-icon-folder_minus{ background-position: -426px -827px; width: 29px; height: 25px; } 
.wbl-icon-folder_lock{ background-position: -426px -902px; width: 28px; height: 26px; } 
.wbl-icon-folder_flag{ background-position: -426px -978px; width: 27px; height: 25px; } 
.wbl-icon-folder_new{ background-position: -426px -1053px; width: 28px; height: 24px; } 
.wbl-icon-edit{ background-position: -426px -1127px; width: 24px; height: 21px; } 
.wbl-icon-new_window{ background-position: -426px -1198px; width: 26px; height: 22px; } 
.wbl-icon-check{ background-position: -426px -1270px; width: 22px; height: 18px; } 
.wbl-icon-unchecked{ background-position: -426px -1338px; width: 18px; height: 18px; } 
.wbl-icon-more_windows{ background-position: -426px -1406px; width: 23px; height: 23px; } 
.wbl-icon-show_big_thumbnails{ background-position: -426px -1479px; width: 22px; height: 22px; } 
.wbl-icon-show_thumbnails{ background-position: -426px -1551px; width: 22px; height: 22px; } 
.wbl-icon-show_thumbnails_with_lines{ background-position: -426px -1623px; width: 24px; height: 15px; } 
.wbl-icon-show_lines{ background-position: -426px -1688px; width: 24px; height: 15px; } 
.wbl-icon-playlist{ background-position: -426px -1753px; width: 29px; height: 24px; } 
.wbl-icon-imac{ background-position: -426px -1827px; width: 26px; height: 22px; } 
.wbl-icon-macbook{ background-position: -426px -1899px; width: 28px; height: 15px; } 
.wbl-icon-ipad{ background-position: -512px 0; width: 22px; height: 27px; } 
.wbl-icon-iphone{ background-position: -512px -77px; width: 14px; height: 24px; } 
.wbl-icon-iphone_transfer{ background-position: -512px -151px; width: 29px; height: 24px; } 
.wbl-icon-iphone_exchange{ background-position: -512px -225px; width: 29px; height: 24px; } 
.wbl-icon-ipod{ background-position: -512px -299px; width: 14px; height: 22px; } 
.wbl-icon-ipod_shuffle{ background-position: -512px -371px; width: 15px; height: 13px; } 
.wbl-icon-ear_plugs{ background-position: -512px -434px; width: 20px; height: 24px; } 
.wbl-icon-phone{ background-position: -512px -508px; width: 15px; height: 25px; } 
.wbl-icon-step_backward{ background-position: -512px -583px; width: 14px; height: 18px; } 
.wbl-icon-fast_backward{ background-position: -512px -651px; width: 25px; height: 18px; } 
.wbl-icon-rewind{ background-position: -512px -719px; width: 23px; height: 18px; } 
.wbl-icon-play{ background-position: -512px -787px; width: 16px; height: 18px; } 
.wbl-icon-pause{ background-position: -512px -855px; width: 10px; height: 16px; } 
.wbl-icon-stop{ background-position: -512px -921px; width: 14px; height: 14px; } 
.wbl-icon-forward{ background-position: -512px -985px; width: 23px; height: 18px; } 
.wbl-icon-fast_forward{ background-position: -512px -1053px; width: 25px; height: 18px; } 
.wbl-icon-step_forward{ background-position: -512px -1121px; width: 14px; height: 18px; } 
.wbl-icon-eject{ background-position: -512px -1189px; width: 18px; height: 17px; } 
.wbl-icon-facetime_video{ background-position: -512px -1256px; width: 24px; height: 16px; } 
.wbl-icon-download_alt{ background-position: -512px -1322px; width: 24px; height: 24px; } 
.wbl-icon-mute{ background-position: -512px -1396px; width: 22px; height: 15px; } 
.wbl-icon-volume_down{ background-position: -512px -1461px; width: 16px; height: 15px; } 
.wbl-icon-volume_up{ background-position: -512px -1526px; width: 24px; height: 26px; } 
.wbl-icon-screenshot{ background-position: -512px -1602px; width: 27px; height: 27px; } 
.wbl-icon-move{ background-position: -512px -1679px; width: 24px; height: 24px; } 
.wbl-icon-more{ background-position: -512px -1753px; width: 22px; height: 6px; } 
.wbl-icon-brightness_reduce{ background-position: -512px -1809px; width: 20px; height: 20px; } 
.wbl-icon-brightness_increase{ background-position: -512px -1879px; width: 24px; height: 24px; } 
.wbl-icon-circle_plus{ background-position: -598px 0; width: 26px; height: 26px; } 
.wbl-icon-circle_minus{ background-position: -598px -76px; width: 26px; height: 26px; } 
.wbl-icon-circle_remove{ background-position: -598px -152px; width: 26px; height: 26px; } 
.wbl-icon-circle_ok{ background-position: -598px -228px; width: 26px; height: 26px; } 
.wbl-icon-circle_question_mark{ background-position: -598px -304px; width: 26px; height: 26px; } 
.wbl-icon-circle_info{ background-position: -598px -380px; width: 26px; height: 26px; } 
.wbl-icon-circle_exclamation_mark{ background-position: -598px -456px; width: 26px; height: 26px; } 
.wbl-icon-remove{ background-position: -598px -532px; width: 26px; height: 26px; } 
.wbl-icon-ok{ background-position: -598px -608px; width: 26px; height: 26px; } 
.wbl-icon-ban{ background-position: -598px -684px; width: 26px; height: 26px; } 
.wbl-icon-download{ background-position: -598px -760px; width: 26px; height: 26px; } 
.wbl-icon-upload{ background-position: -598px -836px; width: 26px; height: 26px; } 
.wbl-icon-shopping_cart{ background-position: -598px -912px; width: 26px; height: 23px; } 
.wbl-icon-lock{ background-position: -598px -985px; width: 21px; height: 26px; } 
.wbl-icon-unlock{ background-position: -598px -1061px; width: 21px; height: 26px; } 
.wbl-icon-electricity{ background-position: -598px -1137px; width: 11px; height: 24px; } 
.wbl-icon-ok_2{ background-position: -598px -1211px; width: 25px; height: 19px; } 
.wbl-icon-remove_2{ background-position: -598px -1280px; width: 18px; height: 18px; } 
.wbl-icon-cart_out{ background-position: -598px -1348px; width: 26px; height: 25px; } 
.wbl-icon-cart_in{ background-position: -598px -1423px; width: 26px; height: 24px; } 
.wbl-icon-left_arrow{ background-position: -598px -1497px; width: 20px; height: 18px; } 
.wbl-icon-right_arrow{ background-position: -598px -1565px; width: 20px; height: 18px; } 
.wbl-icon-down_arrow{ background-position: -598px -1633px; width: 18px; height: 20px; } 
.wbl-icon-up_arrow{ background-position: -598px -1703px; width: 18px; height: 20px; } 
.wbl-icon-resize_small{ background-position: -598px -1773px; width: 24px; height: 24px; } 
.wbl-icon-resize_full{ background-position: -598px -1847px; width: 24px; height: 24px; } 
.wbl-icon-circle_arrow_left{ background-position: -598px -1921px; width: 26px; height: 26px; } 
.wbl-icon-circle_arrow_right{ background-position: -684px 0; width: 26px; height: 26px; } 
.wbl-icon-circle_arrow_top{ background-position: -684px -76px; width: 26px; height: 26px; } 
.wbl-icon-circle_arrow_down{ background-position: -684px -152px; width: 26px; height: 26px; } 
.wbl-icon-play_button{ background-position: -684px -228px; width: 26px; height: 26px; } 
.wbl-icon-unshare{ background-position: -684px -304px; width: 24px; height: 18px; } 
.wbl-icon-share{ background-position: -684px -372px; width: 24px; height: 18px; } 
.wbl-icon-chevron-right{ background-position: -684px -440px; width: 15px; height: 22px; } 
.wbl-icon-chevron-left{ background-position: -684px -512px; width: 15px; height: 22px; } 
.wbl-icon-bluetooth{ background-position: -684px -584px; width: 14px; height: 24px; } 
.wbl-icon-euro{ background-position: -684px -658px; width: 22px; height: 23px; } 
.wbl-icon-usd{ background-position: -684px -731px; width: 17px; height: 26px; } 
.wbl-icon-gbp{ background-position: -684px -807px; width: 17px; height: 24px; } 
.wbl-icon-retweet_2{ background-position: -684px -881px; width: 33px; height: 21px; } 
.wbl-icon-moon{ background-position: -684px -952px; width: 21px; height: 24px; } 
.wbl-icon-sun{ background-position: -684px -1026px; width: 24px; height: 24px; } 
.wbl-icon-cloud{ background-position: -684px -1100px; width: 27px; height: 17px; } 
.wbl-icon-direction{ background-position: -684px -1167px; width: 25px; height: 26px; } 
.wbl-icon-brush{ background-position: -684px -1243px; width: 25px; height: 22px; } 
.wbl-icon-pen{ background-position: -684px -1315px; width: 23px; height: 23px; } 
.wbl-icon-zoom_in{ background-position: -684px -1388px; width: 25px; height: 25px; } 
.wbl-icon-zoom_out{ background-position: -684px -1463px; width: 25px; height: 25px; } 
.wbl-icon-pin{ background-position: -684px -1538px; width: 10px; height: 24px; } 
.wbl-icon-albums{ background-position: -684px -1612px; width: 28px; height: 18px; } 
.wbl-icon-rotation_lock{ background-position: -684px -1680px; width: 27px; height: 24px; } 
.wbl-icon-flash{ background-position: -684px -1754px; width: 14px; height: 24px; } 
.wbl-icon-google_maps{ background-position: -684px -1828px; width: 16px; height: 24px; } 
.wbl-icon-anchor{ background-position: -684px -1902px; width: 24px; height: 25px; } 
.wbl-icon-conversation{ background-position: -770px 0; width: 25px; height: 18px; } 
.wbl-icon-chat{ background-position: -770px -68px; width: 24px; height: 19px; } 
.wbl-icon-male{ background-position: -770px -137px; width: 22px; height: 22px; } 
.wbl-icon-female{ background-position: -770px -209px; width: 16px; height: 27px; } 
.wbl-icon-asterisk{ background-position: -770px -286px; width: 20px; height: 20px; } 
.wbl-icon-divide{ background-position: -770px -356px; width: 18px; height: 16px; } 
.wbl-icon-snorkel_diving{ background-position: -770px -422px; width: 27px; height: 25px; } 
.wbl-icon-scuba_diving{ background-position: -770px -497px; width: 27px; height: 24px; } 
.wbl-icon-oxygen_bottle{ background-position: -770px -571px; width: 22px; height: 27px; } 
.wbl-icon-fins{ background-position: -770px -648px; width: 31px; height: 27px; } 
.wbl-icon-fishes{ background-position: -770px -725px; width: 28px; height: 30px; } 
.wbl-icon-boat{ background-position: -770px -805px; width: 24px; height: 24px; } 
.wbl-icon-delete{ background-position: -770px -879px; width: 26px; height: 17px; } 
.wbl-icon-sheriffs_star{ background-position: -770px -946px; width: 24px; height: 26px; } 
.wbl-icon-qrcode{ background-position: -770px -1022px; width: 24px; height: 24px; } 
.wbl-icon-barcode{ background-position: -770px -1096px; width: 24px; height: 24px; } 
.wbl-icon-pool{ background-position: -770px -1170px; width: 24px; height: 24px; } 
.wbl-icon-buoy{ background-position: -770px -1244px; width: 24px; height: 24px; } 
.wbl-icon-spade{ background-position: -770px -1318px; width: 24px; height: 24px; } 
.wbl-icon-bank{ background-position: -770px -1392px; width: 24px; height: 24px; } 
.wbl-icon-vcard{ background-position: -770px -1466px; width: 22px; height: 24px; } 
.wbl-icon-electrical_plug{ background-position: -770px -1540px; width: 18px; height: 25px; } 
.wbl-icon-flag{ background-position: -770px -1615px; width: 21px; height: 26px; } 
.wbl-icon-credit_card{ background-position: -770px -1691px; width: 26px; height: 19px; } 
.wbl-icon-keyboard_wireless{ background-position: -770px -1760px; width: 27px; height: 19px; } 
.wbl-icon-keyboard_wired{ background-position: -770px -1829px; width: 27px; height: 25px; } 
.wbl-icon-shield{ background-position: -770px -1904px; width: 22px; height: 24px; } 
.wbl-icon-ring{ background-position: -856px 0; width: 21px; height: 24px; } 
.wbl-icon-cake{ background-position: -856px -74px; width: 22px; height: 24px; } 
.wbl-icon-drink{ background-position: -856px -148px; width: 23px; height: 24px; } 
.wbl-icon-beer{ background-position: -856px -222px; width: 23px; height: 24px; } 
.wbl-icon-fast_food{ background-position: -856px -296px; width: 28px; height: 24px; } 
.wbl-icon-cutlery{ background-position: -856px -370px; width: 13px; height: 24px; } 
.wbl-icon-pizza{ background-position: -856px -444px; width: 26px; height: 29px; } 
.wbl-icon-birthday_cake{ background-position: -856px -523px; width: 26px; height: 29px; } 
.wbl-icon-tablet{ background-position: -856px -602px; width: 25px; height: 25px; } 
.wbl-icon-settings{ background-position: -856px -677px; width: 24px; height: 24px; } 
.wbl-icon-bullets{ background-position: -856px -751px; width: 27px; height: 23px; } 
.wbl-icon-cardio{ background-position: -856px -824px; width: 25px; height: 26px; } 
.wbl-icon-t-shirt{ background-position: -856px -900px; width: 28px; height: 23px; } 
.wbl-icon-pants{ background-position: -856px -973px; width: 19px; height: 24px; } 
.wbl-icon-sweater{ background-position: -856px -1047px; width: 29px; height: 24px; } 
.wbl-icon-fabric{ background-position: -856px -1121px; width: 27px; height: 22px; } 
.wbl-icon-leather{ background-position: -856px -1193px; width: 23px; height: 24px; } 
.wbl-icon-scissors{ background-position: -856px -1267px; width: 24px; height: 27px; } 
.wbl-icon-bomb{ background-position: -856px -1344px; width: 27px; height: 25px; } 
.wbl-icon-skull{ background-position: -856px -1419px; width: 22px; height: 24px; } 
.wbl-icon-celebration{ background-position: -856px -1493px; width: 24px; height: 25px; } 
.wbl-icon-tea_kettle{ background-position: -856px -1568px; width: 26px; height: 23px; } 
.wbl-icon-french_press{ background-position: -856px -1641px; width: 23px; height: 25px; } 
.wbl-icon-coffe_cup{ background-position: -856px -1716px; width: 25px; height: 19px; } 
.wbl-icon-pot{ background-position: -856px -1785px; width: 27px; height: 22px; } 
.wbl-icon-grater{ background-position: -856px -1857px; width: 18px; height: 24px; } 
.wbl-icon-kettle{ background-position: -856px -1931px; width: 23px; height: 24px; } 
.wbl-icon-hospital{ background-position: -942px 0; width: 24px; height: 24px; } 
.wbl-icon-hospital_h{ background-position: -942px -74px; width: 24px; height: 24px; } 
.wbl-icon-microphone{ background-position: -942px -148px; width: 17px; height: 24px; } 
.wbl-icon-webcam{ background-position: -942px -222px; width: 19px; height: 24px; } 
.wbl-icon-temple_christianity_church{ background-position: -942px -296px; width: 24px; height: 25px; } 
.wbl-icon-temple_islam{ background-position: -942px -371px; width: 25px; height: 24px; } 
.wbl-icon-temple_hindu{ background-position: -942px -445px; width: 24px; height: 24px; } 
.wbl-icon-temple_buddhist{ background-position: -942px -519px; width: 28px; height: 22px; } 
.wbl-icon-bicycle{ background-position: -942px -591px; width: 33px; height: 21px; } 
.wbl-icon-life_preserver{ background-position: -942px -662px; width: 24px; height: 24px; } 
.wbl-icon-share_alt{ background-position: -942px -736px; width: 22px; height: 22px; } 
.wbl-icon-comments{ background-position: -942px -808px; width: 24px; height: 23px; } 
.wbl-icon-flower{ background-position: -942px -881px; width: 19px; height: 25px; } 
.wbl-icon-baseball{ background-position: -942px -956px; width: 25px; height: 26px; } 
.wbl-icon-rugby{ background-position: -942px -1032px; width: 23px; height: 24px; } 
.wbl-icon-ax{ background-position: -942px -1106px; width: 27px; height: 24px; } 
.wbl-icon-table_tennis{ background-position: -942px -1180px; width: 24px; height: 24px; } 
.wbl-icon-bowling{ background-position: -942px -1254px; width: 24px; height: 24px; } 
.wbl-icon-tree_conifer{ background-position: -942px -1328px; width: 21px; height: 24px; } 
.wbl-icon-tree_deciduous{ background-position: -942px -1402px; width: 20px; height: 25px; } 
.wbl-icon-more_items{ background-position: -942px -1477px; width: 21px; height: 24px; } 
.wbl-icon-sort{ background-position: -942px -1551px; width: 25px; height: 25px; } 
.wbl-icon-filter{ background-position: -942px -1626px; width: 20px; height: 24px; } 
.wbl-icon-gamepad{ background-position: -942px -1700px; width: 27px; height: 19px; } 
.wbl-icon-playing_dices{ background-position: -942px -1769px; width: 27px; height: 23px; } 
.wbl-icon-calculator{ background-position: -942px -1842px; width: 21px; height: 24px; } 
.wbl-icon-tie{ background-position: -942px -1916px; width: 11px; height: 26px; } 
.wbl-icon-wallet{ background-position: -1028px 0; width: 25px; height: 20px; } 
.wbl-icon-piano{ background-position: -1028px -70px; width: 23px; height: 24px; } 
.wbl-icon-sampler{ background-position: -1028px -144px; width: 27px; height: 22px; } 
.wbl-icon-podium{ background-position: -1028px -216px; width: 28px; height: 21px; } 
.wbl-icon-soccer_ball{ background-position: -1028px -287px; width: 25px; height: 25px; } 
.wbl-icon-blog{ background-position: -1028px -362px; width: 21px; height: 23px; } 
.wbl-icon-dashboard{ background-position: -1028px -435px; width: 24px; height: 24px; } 
.wbl-icon-certificate{ background-position: -1028px -509px; width: 17px; height: 25px; } 
.wbl-icon-bell{ background-position: -1028px -584px; width: 24px; height: 24px; } 
.wbl-icon-candle{ background-position: -1028px -658px; width: 20px; height: 25px; } 
.wbl-icon-pushpin{ background-position: -1028px -733px; width: 23px; height: 23px; } 
.wbl-icon-iphone_shake{ background-position: -1028px -806px; width: 24px; height: 24px; } 
.wbl-icon-pin_flag{ background-position: -1028px -880px; width: 30px; height: 22px; } 
.wbl-icon-turtle{ background-position: -1028px -952px; width: 28px; height: 16px; } 
.wbl-icon-rabbit{ background-position: -1028px -1018px; width: 26px; height: 22px; } 
.wbl-icon-globe{ background-position: -1028px -1090px; width: 24px; height: 24px; } 
.wbl-icon-briefcase{ background-position: -1028px -1164px; width: 24px; height: 21px; } 
.wbl-icon-hdd{ background-position: -1028px -1235px; width: 24px; height: 21px; } 
.wbl-icon-thumbs_up{ background-position: -1028px -1306px; width: 24px; height: 21px; } 
.wbl-icon-thumbs_down{ background-position: -1028px -1377px; width: 24px; height: 21px; } 
.wbl-icon-hand_right{ background-position: -1028px -1448px; width: 26px; height: 19px; } 
.wbl-icon-hand_left{ background-position: -1028px -1517px; width: 26px; height: 19px; } 
.wbl-icon-hand_up{ background-position: -1028px -1586px; width: 19px; height: 26px; } 
.wbl-icon-hand_down{ background-position: -1028px -1662px; width: 19px; height: 27px; } 
.wbl-icon-fullscreen{ background-position: -1028px -1739px; width: 24px; height: 24px; } 
.wbl-icon-shopping_bag{ background-position: -1028px -1813px; width: 23px; height: 26px; } 
.wbl-icon-book_open{ background-position: -1028px -1889px; width: 24px; height: 22px; } 
.wbl-icon-nameplate{ background-position: -1114px 0; width: 24px; height: 21px; } 
.wbl-icon-nameplate_alt{ background-position: -1114px -71px; width: 24px; height: 22px; } 
.wbl-icon-vases{ background-position: -1114px -143px; width: 24px; height: 24px; } 
.wbl-icon-bullhorn{ background-position: -1114px -217px; width: 25px; height: 20px; } 
.wbl-icon-dumbbell{ background-position: -1114px -287px; width: 26px; height: 16px; } 
.wbl-icon-suitcase{ background-position: -1114px -353px; width: 24px; height: 22px; } 
.wbl-icon-file_import{ background-position: -1114px -425px; width: 22px; height: 24px; } 
.wbl-icon-file_export{ background-position: -1114px -499px; width: 23px; height: 24px; } 
.wbl-icon-bug{ background-position: -1114px -573px; width: 22px; height: 24px; } 
.wbl-icon-crown{ background-position: -1114px -647px; width: 26px; height: 25px; } 
.wbl-icon-smoking{ background-position: -1114px -722px; width: 28px; height: 28px; } 
.wbl-icon-cloud_upload{ background-position: -1114px -800px; width: 27px; height: 20px; } 
.wbl-icon-cloud_download{ background-position: -1114px -870px; width: 27px; height: 22px; } 
.wbl-icon-restart{ background-position: -1114px -942px; width: 25px; height: 25px; } 
.wbl-icon-security_camera{ background-position: -1114px -1017px; width: 24px; height: 24px; } 
.wbl-icon-expand{ background-position: -1114px -1091px; width: 19px; height: 19px; } 
.wbl-icon-collapse{ background-position: -1114px -1160px; width: 19px; height: 19px; } 
.wbl-icon-collapse_top{ background-position: -1114px -1229px; width: 19px; height: 19px; } 
.wbl-icon-globe_af{ background-position: -1114px -1298px; width: 24px; height: 24px; } 
.wbl-icon-global{ background-position: -1114px -1372px; width: 24px; height: 24px; } 
.wbl-icon-spray{ background-position: -1114px -1446px; width: 22px; height: 27px; } 
.wbl-icon-nails{ background-position: -1114px -1523px; width: 22px; height: 26px; } 
.wbl-icon-claw_hammer{ background-position: -1114px -1599px; width: 27px; height: 26px; } 
.wbl-icon-classic_hammer{ background-position: -1114px -1675px; width: 25px; height: 26px; } 
.wbl-icon-hand_saw{ background-position: -1114px -1751px; width: 26px; height: 26px; } 
.wbl-icon-riflescope{ background-position: -1114px -1827px; width: 25px; height: 25px; } 
.wbl-icon-electrical_socket_eu{ background-position: -1114px -1902px; width: 23px; height: 23px; } 
.wbl-icon-electrical_socket_us{ background-position: -1200px 0; width: 23px; height: 23px; } 
.wbl-icon-pinterest{ background-position: -1200px -73px; width: 24px; height: 24px; } 
.wbl-icon-dropbox{ background-position: -1200px -147px; width: 24px; height: 24px; } 
.wbl-icon-google_plus{ background-position: -1200px -221px; width: 24px; height: 24px; } 
.wbl-icon-jolicloud{ background-position: -1200px -295px; width: 24px; height: 24px; } 
.wbl-icon-yahoo{ background-position: -1200px -369px; width: 24px; height: 24px; } 
.wbl-icon-blogger{ background-position: -1200px -443px; width: 24px; height: 24px; } 
.wbl-icon-picasa{ background-position: -1200px -517px; width: 24px; height: 24px; } 
.wbl-icon-amazon{ background-position: -1200px -591px; width: 24px; height: 24px; } 
.wbl-icon-tumblr{ background-position: -1200px -665px; width: 24px; height: 24px; } 
.wbl-icon-wordpress{ background-position: -1200px -739px; width: 24px; height: 24px; } 
.wbl-icon-instapaper{ background-position: -1200px -813px; width: 24px; height: 24px; } 
.wbl-icon-evernote{ background-position: -1200px -887px; width: 24px; height: 24px; } 
.wbl-icon-xing{ background-position: -1200px -961px; width: 24px; height: 24px; } 
.wbl-icon-zootool{ background-position: -1200px -1035px; width: 24px; height: 24px; } 
.wbl-icon-dribbble{ background-position: -1200px -1109px; width: 24px; height: 24px; } 
.wbl-icon-deviantart{ background-position: -1200px -1183px; width: 24px; height: 24px; } 
.wbl-icon-read_it_later{ background-position: -1200px -1257px; width: 24px; height: 24px; } 
.wbl-icon-linked_in{ background-position: -1200px -1331px; width: 24px; height: 24px; } 
.wbl-icon-forrst{ background-position: -1200px -1405px; width: 24px; height: 24px; } 
.wbl-icon-pinboard{ background-position: -1200px -1479px; width: 24px; height: 24px; } 
.wbl-icon-behance{ background-position: -1200px -1553px; width: 24px; height: 24px; } 
.wbl-icon-github{ background-position: -1200px -1627px; width: 24px; height: 24px; } 
.wbl-icon-youtube{ background-position: -1200px -1701px; width: 24px; height: 24px; } 
.wbl-icon-skitch{ background-position: -1200px -1775px; width: 24px; height: 24px; } 
.wbl-icon-4square{ background-position: -1200px -1849px; width: 24px; height: 24px; } 
.wbl-icon-quora{ background-position: -1200px -1923px; width: 24px; height: 24px; } 
.wbl-icon-badoo{ background-position: -1286px 0; width: 24px; height: 24px; } 
.wbl-icon-spotify{ background-position: -1286px -74px; width: 24px; height: 24px; } 
.wbl-icon-stumbleupon{ background-position: -1286px -148px; width: 24px; height: 24px; } 
.wbl-icon-readability{ background-position: -1286px -222px; width: 24px; height: 24px; } 
.wbl-icon-facebook{ background-position: -1286px -296px; width: 24px; height: 24px; } 
.wbl-icon-twitter{ background-position: -1286px -370px; width: 24px; height: 24px; } 
.wbl-icon-instagram{ background-position: -1286px -444px; width: 24px; height: 24px; } 
.wbl-icon-posterous_spaces{ background-position: -1286px -518px; width: 24px; height: 24px; } 
.wbl-icon-vimeo{ background-position: -1286px -592px; width: 24px; height: 24px; } 
.wbl-icon-flickr{ background-position: -1286px -666px; width: 24px; height: 24px; } 
.wbl-icon-last_fm{ background-position: -1286px -740px; width: 24px; height: 24px; } 
.wbl-icon-rss{ background-position: -1286px -814px; width: 24px; height: 24px; } 
.wbl-icon-skype{ background-position: -1286px -888px; width: 24px; height: 24px; } 
.wbl-icon-e-mail{ background-position: -1286px -962px; width: 24px; height: 24px; } 