.editor_composer {
	min-height: 50px;
}

.editor_composer a.wbl-addPagelet {
	cursor: pointer;
	background: url("../menubar/images/menu_add.png") center center no-repeat ;
	display: inline-block;
	position: absolute;
  	top: 25%;
  	left: 50%;
	width:24px;
  	height:24px;
}

.editor_composer img.wbl-iconEditing {
	cursor: pointer;
	display: inline-block;
	position:absolute;
  	top: 4px;
  	left: 4px;
	height: 24px;
	width:24px;
	z-index: 1000;
	border: 1px solid black;
	background-color: white;
}

.editor_composer img.wbl-iconRemove {
	cursor: pointer;
	display: inline-block;
	position:absolute;
  	top: 4px;
  	left: 29px;
	height: 24px;
	width:24px;
	z-index: 1000;
	border: 1px solid black;
	background-color: white;
}

.editor_composer .wbl-pageletPlaceholder {
    border: 2px dashed black;
    color: #363636;
	height: 1.5em; line-height: 1.2em;
}

.editor_composer.wbl-nojQuery div.pagelet:hover {
    background-color: #CCCCCC;
    opacity: 0.5;
}

div.composer.wbl-nojQuery.empty, div.composer.wbl-composerBorder {
	position: relative;
	border: 1px solid black;
}

div.pagelet {
	position:relative;
}