<?xml version="1.0" encoding="UTF-8"?>
<module id="text" xmlns="http://www.entwinemedia.com/weblounge/3.0/module" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.entwinemedia.com/weblounge/3.0/module http://www.entwinemedia.com/xsd/weblounge/3.0/module.xsd">

  <enable>true</enable>

  <name>Text</name>

  <pagelets>

    <pagelet id="title" composeable="true">
      <name>Title</name>
      <renderer>file://${module.root}/title/title.jsp</renderer>
      <renderer type="feed">file://${module.root}/title/title-feed.jsp</renderer>
      <editor>file://${module.root}/title/title_editor.jsp</editor>
      <preview>first</preview>
    </pagelet>

    <pagelet id="subtitle" composeable="true">
      <name>Subtitle</name>
      <renderer>file://${module.root}/subtitle/subtitle.jsp</renderer>
      <editor>file://${module.root}/subtitle/subtitle_editor.jsp</editor>
    </pagelet>

    <pagelet id="paragraph" composeable="true">
      <name>Paragraph</name>
      <renderer>file://${module.root}/paragraph/paragraph.jsp</renderer>
      <renderer type="feed">file://${module.root}/paragraph/paragraph-feed.jsp</renderer>
      <editor>file://${module.root}/paragraph/paragraph_editor.jsp</editor>
    </pagelet>

  </pagelets>

</module>