<p><label for="seitentitel">Seitentitel</label><input type="text" name="seitentitel" /></p>
<p><label for="url">Pfad</label><input type="text" name="url" id="url" /></p>
<p><label for="template">Template</label><select>
	<option value="default">Leere Seite</option>
	<option value="home">Startseite</option>
	<option value="news">Newsmeldung</option>
</select></p>
<p><label for="keyword">Keywords:</label> <input type="text" name="keywords" class="keywords" /></p>
<p><label for="start">Start:</label><input type="text" name="start" value="01.01.2011 10:00" class="datepicker" /></p>
<p><label for="end">End:</label><input type="text" name="end" value="01.02.2011 13:30" class="datepicker"/></p>