<span style="width:50px; display:inline-block">&nbsp;</span>
<a class="tab designer active" href="#">Designer</a>
<a class="tab pages" href="#">Pages</a>
<a class="tab media" href="#">Media</a>
<a class="tab uploader" href="#">Uploader</a>
<span class="right">
	<input type="search" name="search" placeholder="/schiedsrichter/" />
	<img src="images/user.png" class="user" /><span id="user">Simon</span><span class="triangle-down"></span>
</span>