<span style="width:50px; display:inline-block">&nbsp;</span>
<a name="designer" class="tab designer active" href="#">Designer</a>
<a name="pages" class="tab pages" href="#">Pages</a>
<a name="media" class="tab media" href="#">Media</a>
<img src="/weblounge-shared/editor/menubar/images/menu_add.png" class="add"/>

<span class="right">
	<input type="search" name="search" placeholder="/schiedsrichter/" />
	<span class="profile-menu">
		<img src="/weblounge-shared/editor/menubar/images/user.png" class="user" alt="">
		<span id="user">Simon</span>
		<span class="triangle-down"></span>
	</span>
</span>

<div id="add-menu" class="menu">
	<span class="triangle-up"></span>
	<ul>
		<li id="new_page">Neue Seite erstellen</li>
		<li id="new_upload">Neues Medium hochladen</li>
		<li id="new_note" class="inactive">Neue Notiz erstellen</li>
	</ul>
</div>

<div id="profile-menu" class="menu">
	<span class="triangle-up"></span>
	<ul>
		<li>Einstellungen</li>
		<li>Nachrichten</li>
		<li>Logout</li>
	</ul>
</div>

<div id="search-result">
	<p class="section">Webseiten <span class="website">\home\schiedsrichter\</span></p>
	<p class="section">Dokumente <span class="documents pdf">Kursaufgebot R1</span></p>
	<p>&nbsp;<span class="documents pdf">Kursaufgebot R2</span></p>
	<p class="footer">Weitere Resultate...</p>
</div>