<span style="width:50px; display:inline-block">&nbsp;</span>
<a name="designer" class="tab designer active" href="#designer">Designer</a>
<a name="pages" class="tab pages" href="#pages">Pages</a>
<a name="media" class="tab media" href="#media">Media</a>

<img src="${runtime.getRootPath()}/editor/menubar/images/menu_add.png" class="add" title="Neue Seite..." alt="Neue Seite..." />
<img src="${runtime.getRootPath()}/editor/menubar/images/menu_more.png" class="more" title="Weitere Befehle..." alt="Weitere Befehle..." />

<span class="editmode">
	<input type="checkbox" name="editmode" value="" id="editmode"> Editiermodus</input>
</span>

<span id="trashcan"></span>

<span class="language">
	<img src='${runtime.getRootPath()}/editor/resources/flags/${current}.png' title='${current}'/>
</span> 

<span class="language-menu">
	{{each runtime.getLanguages()}}
		<img src="${runtime.getRootPath()}/editor/resources/flags/${$value.language}.png" alt="${$value.language}" title="${$value.language}" />
    {{/each}}
</span>

<span class="right">
	<input type="search" name="search" placeholder="Suchen..." />
	<span class="profile-menu">
		<img src="${runtime.getRootPath()}/editor/menubar/images/user.png" class="user" alt="" />
		<span id="user">${runtime.getUserName()}</span>
		<span class="triangle-down"></span>
	</span>
</span>

<div id="add-menu" class="menu">
	<span class="triangle-up"></span>
	<ul>
		<li class="new_page">Neue Seite erstellen</li>
		<li class="new_upload">Neues Medium hochladen</li>
		<li class="new_note">Neue Notiz erstellen</li>
	</ul>
</div>

<div id="more-menu" class="menu">
	<span class="triangle-up"></span>
	<ul>
		<li class="pageinfo">Seiten-Eigenschaften</li>
		<li>Als Favorit kennzeichnen</li>
		<li>Seite duplizieren</li>
		<li>Publizieren...</li>
		<li>Sprache wechseln</li>
		<li>Zugriff einschr&auml;nken</li>
		<li>Verherige Versionen...</li>
	</ul>
</div>

<div id="profile-menu" class="menu">
	<span class="triangle-up"></span>
	<ul>
		<li class="settings">Einstellungen</li>
		<li class="news">Nachrichten</li>
		<li class="logout">Logout</li>
	</ul>
</div>

<div id="search-result">
	<p class="section">Webseiten <span class="website">\home\schiedsrichter\</span></p>
	<p class="section">Dokumente <span class="documents pdf">Kursaufgebot R1</span></p>
	<p>&nbsp;<span class="documents pdf">Kursaufgebot R2</span></p>
	<p class="footer">Weitere Resultate...</p>
</div>